<section class="ui segment">
  <div class="ui four small statistics">
    <div class="ui statistic">
      <div class="value">
        <i class="user icon"></i>
      </div>
      <div class="label">
      {{user.firstName}} {{user.lastName}}
      </div>
    </div>
    <div class="ui statistic">
      <div class="value">
        <i class="{{ibw}} dashboard icon"></i> 
      </div>
      <div class="label">
        Ideal Weight Indicator
        {{ibw}}
      </div>
    </div>
    <div class="ui statistic">
      <div class="value">
        <i class="heartbeat icon"></i>
      </div>
      <div class="label">
        {{bmi}} 
      </div>
    </div>
    <div class="ui statistic">
      <div class="value">
        <i class="doctor icon"></i>
      </div>
      <div class="label">
         {{bmiCategory}}
      </div>
    </div>
  </div>
</section>

