<section class="ui raised segment">

<table class="ui table">
    <thead>   
      <tr>
        <th>Date</th>
        <th>Weight</th>
        <th>Waist</th>
        <th>Hips</th>
        <th>Status</th>
      </tr>
  </thead>
  <tbody>
    {{#each goals}}
      <tr>
        <td>{{date}}</td>
        <td>
        {{weight}}
        </td>
        <td>
          {{waist}}
        </td>
        <td>
          {{hips}}
        </td>
        <td>
          {{status}}
        </td>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
</section>
